@font-face{
    font-family: superstar;
    src : url('./superstarorig_memesbruh03.ttf')
}
*{
    margin: 0;
    padding: 1px;
    border: 0;
}

body{
    background: rgb(10, 10, 10);
}



#gamecontainer{
    margin-left: 15%;
}

.texto{
    font-family: superstar;
    
}