<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Rafa-MK3 - Game Mobile RPG</name>
  <description>
      Jogo de teste mobile RPG criado por Rafael D.Carmo
      site oficial : https://rafael.codarts.com.br/
  </description>
  <author href="https://rafael.codarts.com.br/" email="rafaeldocarmo2010@gmail.com">
      Rafael D.Carmo
  </author>

  <!-- all platforms -->
  <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="true" />


</widget>
